.calculator-container {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  gap: 10px;
  width: 100%;
  max-width: 100vw;
  flex-wrap: wrap;
}
 
body{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
}
 
.calculator, .history-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.calculator {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  background: #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.history-list {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 420px;
  padding: 6px;
  background: #333;
  border-radius: 5px;
  color: white;
}
 
.history-item {
  padding: 10px;
  border-bottom: 1px solid #555;
  cursor: pointer;
}
 
.history-item:hover {
  background: #444;
}
 
.empty-history {
  color: #888;
}
 
.history-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
 
.ghost-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  visibility: hidden;
}
 
.history-tag {
  grid-column: span 4;
  background: #444;
  color: #00aaff;
  cursor: pointer;
  padding: 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
 
.history-tag:hover {
  background: #666;
}
 
.display {
  font-size: 1.6rem;
  background: #333;
  overflow-x: auto;
  color: white;
  white-space: nowrap;
  padding: 6px;
  margin-bottom: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  min-height: 30px;
}
 
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
 
button {
  padding: 10px;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  background: #444;
  color: #00aaff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease-in-out;
}
 
button:hover {
  background: #666;
  transform: scale(1.05);
}
 
button:active {
  transform: scale(0.95);
}
 
.clear {
  grid-column: span 4;
  background: rgb(48, 48, 48);
}
 
.clear:hover {
  background: rgb(22, 22, 22);
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  transform: none !important; 
}

.clear-backspace-container {
  display: flex;
  gap: 6px;
  grid-column: span 4;
}

.clear, .backspace {
  flex: 1;
  padding: 12px;
  font-size: 1rem;
  text-align: center;
}

.backspace {
  background: rgb(48, 48, 48); 
  color: #00aaff; 
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backspace:hover {
  background: rgb(22, 22, 22); 
}

.backspace svg {
  color: #00aaff;
}

