#root {
  width: 100%;
  max-width: 100%; 
  margin: 0 auto;
  padding: 2rem;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.calculator-container {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.calculator,
.history-container {
  width: 100%;
  max-width: 480px; 
  margin: 0 auto;
}


@media (max-width: 600px) {
  .calculator-container {
    width: 90%; 
    max-width: 480px; 
  }

  .calculator,
  .history-container {
    width: 100%;
    max-width: 480px;
  }

  .history-list {
    min-height: 160px;
    max-height: 180px;
    width: 90%;
    margin: 10px auto;
    overflow-x: hidden;
  }
}
